[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -i /home/lena/.config/wallpaper.png -m tile
Restart=on-failure
